<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantilla/template :: head">
<meta charset="utf-8">
</head>

<body>

	<div class="container mt-4">
	   <div class="card">
	   
	   	<div class="card-header">
	   	 <center><h2 th:text="${titulo}"></h2></center>
	   	</div>
	   	
	   	<div class="card-body">
	   	
			<form  th:action="@{/modulos/administracion/saveentrada}" th:object="${entradas}" method="post" >
				<div class="row">
					
					<div class="form-group col-md-6">
						<input th:field="*{id_entrada}" class="form-control" type="hidden" >
					    <label for="v" class="form-label">FECHA DE INGRESO&nbsp;</label>
					    <br><input type="date" max="2021-11-22" th:field="*{fecha_entrada}" class="form-control" id="fecha_entrada">
					    <small class="form-text text-danger"
									th:if="${#fields.hasErrors('fecha_entrada')}"
									th:errors="*{fecha_entrada}"></small>
					</div>
					
					<div class="form-group col-md-6">
						
					    <label for="factura" class="form-label">OBSERVACIÓN&nbsp;</label>
					    <br><input type="text" th:field="*{observacion}" class="form-control" id="factura">
					    <small class="form-text text-danger"
									th:if="${#fields.hasErrors('observacion')}"
									th:errors="*{observacion}"></small>
					</div>
					

				</div>
				
				<div class="row">
										
					<div class="col-md-6 mb-3">
								<label>PROVEEDOR:</label>
								 <select class="form-control"	th:field="*{proveedor.id_proveedor}" required="required">
									<option th:each="item : ${listaProveedor}"
										th:value="${item.id_proveedor}" th:text="${item.razon_social}"></option>
								</select>
					</div>
					

				</div>
				
				<div class="row mt-4 " style="text-decoration:none"> 
					
					<div class="">
					    &nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-success">Siguiente</button>
					</div>
					
					<div >
					    &nbsp;&nbsp;<a  th:href="@{/modulos/administracion/listaringresos}" type="submit" class="btn btn-danger">Volver al Menú</a>
					</div>
				</div>
				
			</form> 
			
		</div>
		
	   </div>
	</div>
	<footer th:replace="/plantilla/template :: footer">

	</footer>

	
	
	
</body>

</html>